* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.relatorio-toolbar{
    grid-template-columns:
        repeat(auto-fit,minmax(180px,1fr));
}

.panel h2{
    margin-bottom:25px;
}

.panel h2 i{
    color:#24457c;
    margin-right:8px;
}

.relatorio-buttons{
    display:flex;
    gap:12px;
    margin-top:12px;
    flex-wrap:wrap;
}

.secondary-button{
    border:1px solid #cbd6e2;
    background:white;
    color:#24457c;
    padding:14px 18px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
}

.secondary-button:hover{
    border-color:#123d92;
}

.secondary-button i{
    margin-right:6px;
}

.relatorio-table{
    width:100%;
    border-collapse:collapse;
}

.relatorio-table thead{
    background:#edf3f8;
}

.relatorio-table th{
    padding:16px;
    text-align:left;
    color:#24457c;
    font-weight:600;
}

.relatorio-table th i{
    margin-right:6px;
}

.relatorio-table td{
    padding:16px;
    border-top:1px solid #edf1f5;
}

.relatorio-table tr:hover{
    background:#fafcff;
}

.relatorio-info{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:20px 0;
    color:#64748b;
    font-size:14px;
    flex-wrap:wrap;
    gap:10px;
}

.relatorio-info i{
    color:#24457c;
    margin-right:6px;
}

.relatorio-table tr{
    transition:0.2s;
}

.relatorio-table tr:hover{
    background:#f5f9ff;
}

.table-footer{
    margin-top:15px;
    text-align:right;
    color:#64748b;
    font-size:14px;
    font-weight:500;
}

.panel + .panel{
    margin-top:22px;
}
